<html ng-app="myApp" >
<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"></head>
<style type="text/css">
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}</style>


<body ng-controller="mainController" class="container" >

	<p>
		<h1 style="color:red">{{greeting}}, Cisco {{50 + 65}}</h1>
	</p>
	<br/>
	<br/>

	<p>
		<div class="col-md-9" ng-controller="listingController" ng-cloak>
			<div class="row">
				<form class="form-inline">
					<div class="form-group">
						<label >Search</label>
						<input type="text" class="form-control" ng-model="searchTerm"/>
					</div>
					<div class="form-group">
						<label >Limit</label>
						<select class="form-control" ng-model="itemsToDisplay">
							<option value="2">2</option>
							<option value="5">5</option>
							<option value="50">50</option>
						</select>
					</div>
					<div class="form-group">
						<label >Order</label>
						<select class="form-control" ng-model="orderTerm">
							<option value="name">Name</option>
							<option value="price">Price</option>
						</select>
					</div>
				</form>
			</div>
			<div ng-repeat="item in hotels | filter : searchTerm | limitTo :itemsToDisplay| orderBy : orderTerm" class="row well well-sm">

				<div>
					<h3>{{item.name}}</h3>
				</div>
				<div>
					<div class="col-md-1">
						<div><button>up</button></div>
						<div></div>
						<div><button>down</button></div>
					</div>
					<img ng-src="images/{{item.pic}}" class="col-md-3" />
					<div class="col-md-8">
						<h3>{{item.price}}</h3>
						<div class="h4">{{item.location}}</div>
						<div class="text-muted">{{item.description | limitTo : textLimit}}</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1" ng-controller="addController">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label>
					<input type="text" ng-model="hotel.name" class="form-control"></div>
				<div class="form-group">
					<label for="exampleInputPassword1">Price</label>
					<input type="number" class="form-control" ng-model="hotel.price" ></div>
				<button ng-click="addHotel(hotel)" class="btn btn-default">Add</button>
			</form>
		</div>
	</p>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/controllers/addController.js"></script>
	<script type="text/javascript" src="js/controllers/mainController.js"></script>
	<script type="text/javascript" src="js/controllers/listingController.js"></script>
	<script type="text/javascript" src="js/services/dataService.js"></script>

</body>
</html>